<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- =============定义目标bean和bean中的方法 =================== -->
    <bean id="standardJob" class="org.ehuacui.bbs.scheduler.StandardJob"/>

    <bean id="standardJobMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="standardJob"/>
        <property name="targetMethod" value="execute"/>
    </bean>

    <!-- ======================== 调度触发器 ======================== -->
    <bean id="standardJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="standardJobMethod"/>
        <property name="cronExpression" value="0 0 23 10 * ?"/>
    </bean>

    <!-- ======================== 调度工厂 ======================== -->
    <bean id="schedulerFactory" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="standardJobTrigger"/>
            </list>
        </property>
    </bean>

</beans>