<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ehuacui.bbs.mapper.ReplyMapper">
    <resultMap id="BaseResultMap" type="org.ehuacui.bbs.model.Reply">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="tid" jdbcType="INTEGER" property="tid"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="in_time" jdbcType="TIMESTAMP" property="inTime"/>
        <result column="author" jdbcType="VARCHAR" property="author"/>
        <result column="is_delete" jdbcType="BIT" property="isDelete"/>
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
        <result column="replyAuthor" jdbcType="VARCHAR" property="replyAuthor"/>
        <result column="topicAuthor" jdbcType="VARCHAR" property="topicAuthor"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, tid, in_time, author, is_delete, content
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_reply
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectByTid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_reply where is_delete = 0 and tid = #{tid,jdbcType=INTEGER}
        <if test="start != null">
            limit #{start,jdbcType=INTEGER}
            <if test="limit != null">
                ,#{limit,jdbcType=INTEGER}
            </if>
        </if>
    </select>

    <select id="countByTid" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select count(id) from tb_reply where is_delete = 0 and tid = #{tid,jdbcType=INTEGER}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select r.author as replyAuthor, r.content, r.in_time, t.id as tid, t.author as topicAuthor, t.title
        from tb_reply r left join tb_topic t on r.tid = t.id
        where t.is_delete = 0 and r.is_delete = 0
        order by r.in_time desc
        <if test="start != null">
            limit #{start,jdbcType=INTEGER}
            <if test="limit != null">
                ,#{limit,jdbcType=INTEGER}
            </if>
        </if>
    </select>

    <select id="countAll" resultType="java.lang.Integer">
        select count(r.id)
        from tb_reply r left join tb_topic t on r.tid = t.id
        where t.is_delete = 0 and r.is_delete = 0
    </select>

    <select id="selectByAuthor" parameterType="java.lang.String" resultMap="BaseResultMap">
        select t.title, r.author as replyAuthor, t.author as topicAuthor, t.in_time, r.tid, r.content
        from tb_reply r left join tb_topic t on r.tid = t.id
        where t.is_delete = 0 and r.is_delete = 0 and r.author = #{author,jdbcType=VARCHAR}
        order by r.in_time desc
        <if test="start != null">
            limit #{start,jdbcType=INTEGER}
            <if test="limit != null">
                ,#{limit,jdbcType=INTEGER}
            </if>
        </if>
    </select>

    <select id="countByAuthor" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(r.id)
        from tb_reply r left join tb_topic t on r.tid = t.id
        where t.is_delete = 0 and r.is_delete = 0 and r.author = #{author,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from tb_reply
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="org.ehuacui.bbs.model.Reply" keyProperty="id" useGeneratedKeys="true">
        insert into tb_reply (id, tid, in_time, author, is_delete, content)
        values (#{id,jdbcType=INTEGER}, #{tid,jdbcType=INTEGER}, #{inTime,jdbcType=TIMESTAMP},
        #{author,jdbcType=VARCHAR}, #{isDelete,jdbcType=BIT}, #{content,jdbcType=LONGVARCHAR}
        )
    </insert>

    <insert id="insertSelective" parameterType="org.ehuacui.bbs.model.Reply" keyProperty="id" useGeneratedKeys="true">
        insert into tb_reply
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="tid != null">
                tid,
            </if>
            <if test="inTime != null">
                in_time,
            </if>
            <if test="author != null">
                author,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
            <if test="content != null">
                content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="tid != null">
                #{tid,jdbcType=INTEGER},
            </if>
            <if test="inTime != null">
                #{inTime,jdbcType=TIMESTAMP},
            </if>
            <if test="author != null">
                #{author,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=BIT},
            </if>
            <if test="content != null">
                #{content,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>

    <update id="deleteById">
        update tb_reply set is_delete = 1
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="deleteByTid">
        update tb_reply set is_delete = 1
        where tid = #{tid,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="org.ehuacui.bbs.model.Reply">
        update tb_reply
        <set>
            <if test="tid != null">
                tid = #{tid,jdbcType=INTEGER},
            </if>
            <if test="inTime != null">
                in_time = #{inTime,jdbcType=TIMESTAMP},
            </if>
            <if test="author != null">
                author = #{author,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=BIT},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="org.ehuacui.bbs.model.Reply">
        update tb_reply
        set tid = #{tid,jdbcType=INTEGER},
        in_time = #{inTime,jdbcType=TIMESTAMP},
        author = #{author,jdbcType=VARCHAR},
        is_delete = #{isDelete,jdbcType=BIT},
        content = #{content,jdbcType=LONGVARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

</mapper>