<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ehuacui.bbs.mapper.TopicMapper">

    <resultMap id="BaseResultMap" type="org.ehuacui.bbs.model.Topic">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="tab" jdbcType="VARCHAR" property="tab"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="tag" jdbcType="VARCHAR" property="tag"/>
        <result column="in_time" jdbcType="TIMESTAMP" property="inTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="last_reply_time" jdbcType="TIMESTAMP" property="lastReplyTime"/>
        <result column="last_reply_author" jdbcType="VARCHAR" property="lastReplyAuthor"/>
        <result column="view_count" jdbcType="INTEGER" property="viewCount"/>
        <result column="author" jdbcType="VARCHAR" property="author"/>
        <result column="is_top" jdbcType="BIT" property="isTop"/>
        <result column="is_good" jdbcType="BIT" property="isGood"/>
        <result column="show_status" jdbcType="BIT" property="showStatus"/>
        <result column="reply_count" jdbcType="INTEGER" property="replyCount"/>
        <result column="is_delete" jdbcType="BIT" property="isDelete"/>
        <result column="tag_is_count" jdbcType="BIT" property="tagIsCount"/>
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, tab, title, tag, in_time, modify_time, last_reply_time, last_reply_author, view_count,
    author, is_top, is_good, show_status, reply_count, is_delete, tag_is_count, content
  </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_topic
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_topic t
        where t.is_delete = 0
        order by t.is_top desc, t.last_reply_time desc
        <if test="start != null">
            limit #{start,jdbcType=INTEGER}
            <if test="limit != null">
                ,#{limit,jdbcType=INTEGER}
            </if>
        </if>
    </select>

    <select id="countAll" resultType="java.lang.Integer">
        select count(id)
        from tb_topic t
        where t.is_delete = 0
    </select>

    <select id="selectByTab" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_topic t
        where t.is_delete = 0 and t.tab = #{tab,jdbcType=VARCHAR}
        order by t.is_top desc, t.last_reply_time desc
        <if test="start != null">
            limit #{start,jdbcType=INTEGER}
            <if test="limit != null">
                ,#{limit,jdbcType=INTEGER}
            </if>
        </if>
    </select>

    <select id="countByTab" resultType="java.lang.Integer">
        select count(id)
        from tb_topic t
        where t.is_delete = 0 and t.tab = #{tab,jdbcType=VARCHAR}
    </select>

    <select id="selectAllGood" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_topic t
        where t.is_delete = 0 and t.is_good = 1
        order by t.is_top desc, t.last_reply_time desc
        <if test="start != null">
            limit #{start,jdbcType=INTEGER}
            <if test="limit != null">
                ,#{limit,jdbcType=INTEGER}
            </if>
        </if>
    </select>

    <select id="countAllGood" resultType="java.lang.Integer">
        select count(id)
        from tb_topic t
        where t.is_delete = 0 and t.is_good = 1
    </select>

    <select id="selectAllNoReply" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_topic t
        where t.is_delete = 0 and t.reply_count = 0
        order by t.is_top desc, t.last_reply_time desc
        <if test="start != null">
            limit #{start,jdbcType=INTEGER}
            <if test="limit != null">
                ,#{limit,jdbcType=INTEGER}
            </if>
        </if>
    </select>

    <select id="countAllNoReply" resultType="java.lang.Integer">
        select count(id)
        from tb_topic t
        where t.is_delete = 0 and t.reply_count = 0
    </select>

    <select id="selectOtherTopicByAuthor" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_topic
        where is_delete = 0
        and id != #{id,jdbcType=INTEGER}
        and author = #{author,jdbcType=VARCHAR}
        order by in_time desc
        <if test="start != null">
            limit #{start,jdbcType=INTEGER}
            <if test="limit != null">
                ,#{limit,jdbcType=INTEGER}
            </if>
        </if>
    </select>

    <select id="selectByAuthor" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_topic
        where is_delete = 0 and author = #{author,jdbcType=VARCHAR}
        order by in_time desc
        <if test="start != null">
            limit #{start,jdbcType=INTEGER}
            <if test="limit != null">
                ,#{limit,jdbcType=INTEGER}
            </if>
        </if>
    </select>

    <select id="countByAuthor" resultType="java.lang.Integer">
        select count(id) from tb_topic
        where is_delete = 0 and author = #{author,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from tb_topic
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="org.ehuacui.bbs.model.Topic" keyProperty="id" useGeneratedKeys="true">
    insert into tb_topic (id, tab, title,
      tag, in_time, modify_time, 
      last_reply_time, last_reply_author, view_count,
      author, is_top, is_good, show_status,
      reply_count, is_delete, tag_is_count, 
      content)
    values (#{id,jdbcType=INTEGER}, #{tab,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{tag,jdbcType=VARCHAR}, #{inTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{lastReplyTime,jdbcType=TIMESTAMP}, #{lastReplyAuthor,jdbcType=VARCHAR}, #{viewCount,jdbcType=INTEGER},
      #{author,jdbcType=VARCHAR}, #{isTop,jdbcType=BIT}, #{isGood,jdbcType=BIT}, #{showStatus,jdbcType=BIT},
      #{replyCount,jdbcType=INTEGER}, #{isDelete,jdbcType=BIT}, #{tagIsCount,jdbcType=BIT}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>

    <insert id="insertSelective" parameterType="org.ehuacui.bbs.model.Topic" keyProperty="id" useGeneratedKeys="true">
        insert into tb_topic
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="tab != null">
                tab,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="tag != null">
                tag,
            </if>
            <if test="inTime != null">
                in_time,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
            <if test="lastReplyTime != null">
                last_reply_time,
            </if>
            <if test="lastReplyAuthor != null">
                last_reply_author,
            </if>
            <if test="viewCount != null">
                view_count,
            </if>
            <if test="author != null">
                author,
            </if>
            <if test="isTop != null">
                is_top,
            </if>
            <if test="isGood != null">
                is_good,
            </if>
            <if test="showStatus != null">
                show_status,
            </if>
            <if test="replyCount != null">
                reply_count,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
            <if test="tagIsCount != null">
                tag_is_count,
            </if>
            <if test="content != null">
                content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="tab != null">
                #{tab,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="tag != null">
                #{tag,jdbcType=VARCHAR},
            </if>
            <if test="inTime != null">
                #{inTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastReplyTime != null">
                #{lastReplyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastReplyAuthor != null">
                #{lastReplyAuthor,jdbcType=VARCHAR},
            </if>
            <if test="viewCount != null">
                #{viewCount,jdbcType=INTEGER},
            </if>
            <if test="author != null">
                #{author,jdbcType=VARCHAR},
            </if>
            <if test="isTop != null">
                #{isTop,jdbcType=BIT},
            </if>
            <if test="isGood != null">
                #{isGood,jdbcType=BIT},
            </if>
            <if test="showStatus != null">
                #{showStatus,jdbcType=BIT},
            </if>
            <if test="replyCount != null">
                #{replyCount,jdbcType=INTEGER},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=BIT},
            </if>
            <if test="tagIsCount != null">
                #{tagIsCount,jdbcType=BIT},
            </if>
            <if test="content != null">
                #{content,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="org.ehuacui.bbs.model.Topic">
        update tb_topic
        <set>
            <if test="tab != null">
                tab = #{tab,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="tag != null">
                tag = #{tag,jdbcType=VARCHAR},
            </if>
            <if test="inTime != null">
                in_time = #{inTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastReplyTime != null">
                last_reply_time = #{lastReplyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastReplyAuthor != null">
                last_reply_author = #{lastReplyAuthor,jdbcType=VARCHAR},
            </if>
            <if test="viewCount != null">
                view_count = #{viewCount,jdbcType=INTEGER},
            </if>
            <if test="author != null">
                author = #{author,jdbcType=VARCHAR},
            </if>
            <if test="isTop != null">
                is_top = #{isTop,jdbcType=BIT},
            </if>
            <if test="isGood != null">
                is_good = #{isGood,jdbcType=BIT},
            </if>
            <if test="showStatus != null">
                show_status = #{showStatus,jdbcType=BIT},
            </if>
            <if test="replyCount != null">
                reply_count = #{replyCount,jdbcType=INTEGER},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=BIT},
            </if>
            <if test="tagIsCount != null">
                tag_is_count = #{tagIsCount,jdbcType=BIT},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="org.ehuacui.bbs.model.Topic">
    update tb_topic
    set tab = #{tab,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      tag = #{tag,jdbcType=VARCHAR},
      in_time = #{inTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      last_reply_time = #{lastReplyTime,jdbcType=TIMESTAMP},
      last_reply_author = #{lastReplyAuthor,jdbcType=VARCHAR},
      view_count = #{viewCount,jdbcType=INTEGER},
      author = #{author,jdbcType=VARCHAR},
      is_top = #{isTop,jdbcType=BIT},
      is_good = #{isGood,jdbcType=BIT},
      show_status = #{showStatus,jdbcType=BIT},
      reply_count = #{replyCount,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=BIT},
      tag_is_count = #{tagIsCount,jdbcType=BIT},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <update id="deleteById" parameterType="java.lang.Integer">
        update tb_topic
        set is_delete = 1
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateTopById" parameterType="java.lang.Integer">
        update tb_topic
        set is_top = 1
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateGoodById" parameterType="java.lang.Integer">
        update tb_topic
        set is_good = 1
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectByUid" resultMap="BaseResultMap">
        select t.*
        from tb_collect c left join tb_topic t on c.tid = t.id
        where t.is_delete = 0 and c.uid = #{uid,jdbcType=INTEGER}
        order by c.in_time desc
        <if test="start != null">
            limit #{start,jdbcType=INTEGER}
            <if test="limit != null">
                ,#{limit,jdbcType=INTEGER}
            </if>
        </if>
    </select>

    <select id="countByUid" parameterType="java.lang.Integer" resultType="java.lang.Long">
        select count(1) as count
        from tb_collect c left join tb_topic t on c.tid = t.id
        where t.is_delete = 0 and c.uid = #{uid,jdbcType=INTEGER}
    </select>

</mapper>