<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ehuacui.bbs.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="org.ehuacui.bbs.model.User">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="score" jdbcType="INTEGER" property="score"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="signature" jdbcType="VARCHAR" property="signature"/>
        <result column="access_token" jdbcType="VARCHAR" property="accessToken"/>
        <result column="receive_msg" jdbcType="BIT" property="receiveMsg"/>
        <result column="in_time" jdbcType="TIMESTAMP" property="inTime"/>
        <result column="expire_time" jdbcType="TIMESTAMP" property="expireTime"/>
        <result column="is_block" jdbcType="BIT" property="isBlock"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, nickname, password, score, avatar, email, url, signature, access_token, receive_msg,
        in_time, expire_time, is_block
    </sql>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_user
        <if test="start != null">
            limit #{start,jdbcType=INTEGER}
            <if test="limit != null">
                ,#{limit,jdbcType=INTEGER}
            </if>
        </if>
    </select>

    <select id="countAll" resultType="java.lang.Integer">
        select count(id) from tb_user
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_user
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectByNickName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_user
        where nickname = #{nickname,jdbcType=VARCHAR}
    </select>

    <select id="selectByEmail" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_user
        where email = #{email,jdbcType=VARCHAR}
    </select>

    <select id="selectByNickNameAndPassword" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_user
        where nickname = #{nickname,jdbcType=VARCHAR} and password = #{password,jdbcType=VARCHAR}
    </select>

    <select id="selectByEmailAndPassword" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_user
        where email = #{email,jdbcType=VARCHAR} and password = #{password,jdbcType=VARCHAR}
    </select>

    <select id="selectByPermissionId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select u.* from tb_user u, tb_user_role ur, tb_role r, tb_role_permission rp,
        tb_permission p where u.id = ur.uid and ur.rid = r.id and r.id = rp.rid and rp.pid = p.id
        and p.id = #{pid,jdbcType=INTEGER}
    </select>

    <select id="selectUserScores" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select user.*, role.description from tb_user user, tb_role role, tb_user_role ur
        where user.id = ur.uid and ur.rid = role.id
        order by score desc, in_time desc
        <if test="limit != null">
            limit #{limit,jdbcType=INTEGER}
        </if>
    </select>

    <select id="selectByAccessToken" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_user
        where access_token = #{accessToken,jdbcType=VARCHAR} and expire_time &gt; #{expireTime,jdbcType=TIMESTAMP}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from tb_user
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <delete id="deleteByNickName" parameterType="java.lang.String">
        delete from tb_user
        where nickname = #{nickname,jdbcType=VARCHAR}
    </delete>

    <insert id="insert" parameterType="org.ehuacui.bbs.model.User" keyProperty="id" useGeneratedKeys="true">
        insert into tb_user (id, nickname, password, score, avatar, email, url, signature, access_token,
        receive_msg, in_time, expire_time, is_block )
        values (#{id,jdbcType=INTEGER}, #{nickname,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{score,jdbcType=INTEGER},
        #{avatar,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR},
        #{signature,jdbcType=VARCHAR}, #{accessToken,jdbcType=VARCHAR},
        #{receiveMsg,jdbcType=BIT}, #{inTime,jdbcType=TIMESTAMP}, #{expireTime,jdbcType=TIMESTAMP},
        #{isBlock,jdbcType=BIT}
        )
    </insert>

    <insert id="insertSelective" parameterType="org.ehuacui.bbs.model.User" keyProperty="id" useGeneratedKeys="true">
        insert into tb_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="nickname != null">
                nickname,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="score != null">
                score,
            </if>
            <if test="avatar != null">
                avatar,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="signature != null">
                signature,
            </if>
            <if test="accessToken != null">
                access_token,
            </if>
            <if test="receiveMsg != null">
                receive_msg,
            </if>
            <if test="inTime != null">
                in_time,
            </if>
            <if test="expireTime != null">
                expire_time,
            </if>
            <if test="isBlock != null">
                is_block,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="nickname != null">
                #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="score != null">
                #{score,jdbcType=INTEGER},
            </if>
            <if test="avatar != null">
                #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="signature != null">
                #{signature,jdbcType=VARCHAR},
            </if>
            <if test="accessToken != null">
                #{accessToken,jdbcType=VARCHAR},
            </if>
            <if test="receiveMsg != null">
                #{receiveMsg,jdbcType=BIT},
            </if>
            <if test="inTime != null">
                #{inTime,jdbcType=TIMESTAMP},
            </if>
            <if test="expireTime != null">
                #{expireTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isBlock != null">
                #{isBlock,jdbcType=BIT},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="org.ehuacui.bbs.model.User">
        update tb_user
        <set>
            <if test="nickname != null">
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="score != null">
                score = #{score,jdbcType=INTEGER},
            </if>
            <if test="avatar != null">
                avatar = #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="signature != null">
                signature = #{signature,jdbcType=VARCHAR},
            </if>
            <if test="accessToken != null">
                access_token = #{accessToken,jdbcType=VARCHAR},
            </if>
            <if test="receiveMsg != null">
                receive_msg = #{receiveMsg,jdbcType=BIT},
            </if>
            <if test="inTime != null">
                in_time = #{inTime,jdbcType=TIMESTAMP},
            </if>
            <if test="expireTime != null">
                expire_time = #{expireTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isBlock != null">
                is_block = #{isBlock,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="org.ehuacui.bbs.model.User">
        update tb_user
        set nickname = #{nickname,jdbcType=VARCHAR},
        password = #{password,jdbcType=VARCHAR},
        score = #{score,jdbcType=INTEGER},
        avatar = #{avatar,jdbcType=VARCHAR},
        email = #{email,jdbcType=VARCHAR},
        url = #{url,jdbcType=VARCHAR},
        signature = #{signature,jdbcType=VARCHAR},
        access_token = #{accessToken,jdbcType=VARCHAR},
        receive_msg = #{receiveMsg,jdbcType=BIT},
        in_time = #{inTime,jdbcType=TIMESTAMP},
        expire_time = #{expireTime,jdbcType=TIMESTAMP},
        is_block = #{isBlock,jdbcType=BIT}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateUserPwd">
        update tb_user
        set password = #{password,jdbcType=VARCHAR},
        where id = #{id,jdbcType=INTEGER}
    </update>

</mapper>